# Ignore folders
__pycache__

# Ignore all new files in front directory
front

# # Ignore all icon files
# *.ico

# # Ignore all png files
# *.png

# # Ignore all svg files
# *.svg

# # Ignore all xml files
# *.xml

# # Ignore all bat file
# *.bat

# # Ignore all zip
# *.zip